/* Paleta de colores
azul 247ba0
verde claro 70c1b3
verde aciua b2dbbf
Blanco f3ffbd */

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1{
  font-style: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  /* margin: 100px 150px 70px 30px; */
  object-position: center;
}

h1 strong{
  color: #1985a1;
}

.hero{
  height: 300px;
  /* background-image: url("../imagenes/fer1.jpg"); */
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #4c5c68;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image{
  object-fit: cover;
}

ol,
ul  {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ol{
  display: flex;
}

.header{
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  flex-wrap: wrap;
}

.menu{
  height: inherit;
}

.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  display: flex;
  height: inherit;
}

.header a{
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.portfolio{
  background: #fafafa;
  padding: 20px;
}
.project{
  border: gray 1px solid;
  border-radius: 10px;
  margin-bottom : 15px;
  padding: 20px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  background: white;
  flex-wrap: wrap;
}

h2{
  color: #4c5c68;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom:40px ;
}

.project-title{
  font-size: 30px;
  margin: 10px 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.project-couse,
.project-date,
.project-url{
  margin: 10px 0;
}

.project-descriptions{
  font-size: 20px;
}

.project strong{
  font-family: 'Fjalla One', sans-serif;
}

.project-details{
  width: 50%;
}

.project-imageConainer{
  width: 50%;
}

.project-imageConainer img{
  max-width: 100%;
}

/* Empiezan a declarar los cursos */

.capacitation{
  display: flex;
  flex-wrap: wrap;
}

.course-list{
  display: flex;
  flex-wrap: wrap;
}

.course{
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4fbff;
}

.course img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.course-detail{
  margin: 20px 40px;
  margin-top: -20px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.course-description{
  text-align: left;
}

.course-url{
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

figure {
  margin: 0;
}

.footer{
  color: white;
  background-color: #1b2127;
  display: flex;
  justify-content: space-between;
}

.footer img{
  vertical-align: middle;
}

.footer a{
  color: white;
}

.container{
  /* border: red solid 1px; */
  max-width: 1000px;
  flex: 1;
  display: inherit;
  margin: 0 auto;
  /* width: 1000px; */
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  height: inherit;
}

/* Empezamos con contact */
.contact{
  background-color: #056fff;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social{
  /* border: 1px solid red; */
}

.social-link{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../imagenes/twitter.svg');
}

.social-link.facebook {
  background-image: url('../imagenes/facebook.svg');
}

.social-link.github {
  background-image: url('../imagenes/github.svg');
}

.social-link.instagram {
  background-image: url('../imagenes/instagram.svg');
}

.form-email input{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../imagenes/envelope.svg');
  background-size: 15px 15px;
  background-repeat:  no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button{
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}
.form-email h3{
  font-family: 'Fjalla One', sans-serif;
}

/* Empezamos el mediaquery */

@media screen and (max-width: 1024px){
  .container{
    padding: 0 1em;
  }
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }
  h1{
    font-size: 2em;
    z-index: 2;
    /* background-color: blue; */
  }
}

@media screen and (max-width: 767px){
  .header{
    display: block;
    height: auto;
  }
  .header .logo{
    text-align: center;
  }

  .header ol{
    display: initial;
  }
  .header ol li{
    height: 50px;
    text-align: center;
  }
  .header a{
    justify-content: center;
    width: 100%;
  }

  .project{
    display: block;
  }
  .project-imageConainer{
    width: auto;
    text-align: center;
  }
  .project-details{
    width: auto;
  }

  .project-course,.project-date,.project-url{
    margin: 0.3em 0;
  }

  .project-title{
    font-size: 1.5em;
  }
   
  .project-url{
    font-size: 1em;
  }
  .project-course{
    font-size: .7em;

  }
  .project-date{
    font-size: 1em;

  }
  
  .project-descriptions{
    font-size: 0.8em;
  }
  
  .course{
    width: 100%;
    flex-shrink: initial;
  }

  .course img{
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  h1{
    font-size: 1.5em;
    background-color: rgba(20, 29, 112, 0.171);
  }

  .project-details{
    font-size: 12px;
  }
  .project-details{
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact{
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block;
  }
  
  .form-email button{
    margin: 1em auto;
  }

  .form-email h3{
    margin-top: 0;
  }

  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;

  }

}


@media screen and (max-width: 320px){
  h1{
    font-size: 1.2em;
    background-color: rgba(20, 29, 112, 0.171);

  }
  .hero{
    padding: 2em 1em;
  }
  .hero-image{
    object-fit: cover;
  }
}



